# Extrusion helpers for Protopasta

[gcode_macro FORGE_SET_PA]
gcode:
  {% set PA = params.PA|default(0.03)|float %}
  SET_PRESSURE_ADVANCE ADVANCE={PA}
  RESPOND MSG="pressure_advance={PA}"

[gcode_macro FORGE_SET_FLOW]
gcode:
  {% set FLOW = params.FLOW|default(100)|float %}
  M221 S{FLOW}
  RESPOND MSG="flow={FLOW}%"
